/* RESET - GLOBALT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbf9f3;
}

a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
}

h1 a {
  font-size: 2rem;
  text-align: left;
}

h2 {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

h3 {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 1.1rem;
}

.subtitle {
  color: rgb(108, 108, 108);
}

/* =========================================================
   HEADER 
   ========================================================= */

.mainNav {
  background-color: #e4decc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5rem 1.4rem 4rem;
}

.mainNav .logo {
  display: flex;
  align-items: center;
  background-color: transparent !important;
}

.mainNav .logo img {
  height: 75px;
  width: auto;
  display: block;
  background-color: transparent !important;
}

.mainNav nav {
  display: flex;
  gap: 4rem;
  align-items: center;
  background-color: transparent !important;
}

.mainNav a {
  text-align: left;
}

.mainNav nav a {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: transparent !important;
}

/* =========================================================
   INDEX
   ========================================================= */
.category main h2 {
  margin-left: 5rem;
  margin-top: 4rem;
  margin-bottom: 4.5rem;
}

.categoryList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1em 5em 5em 5em;
}

.categoryList a {
  background-color: #fbf9f3;
  border: 1px solid rgb(108, 108, 108);
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-weight: 600;
}

/* =========================================================
   PRODUCTLIST
   ========================================================= */
.productlist main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin: 1em 5em 5em 5em;
}

.productlist main > h2 {
  margin-left: 1rem;
  margin-top: 2rem;
  grid-column: 1 / -1;
}

.productlist h2 {
  grid-column: 1 / -1;
}

.productlist a {
  text-decoration: none;
  color: black;
}

.productlist a,
.product a {
  text-align: left;
}

/* Card */
.smallProduct {
  border-radius: 5px;
  padding: 1rem;
}

.smallProduct img {
  width: 100%;
  height: auto;
  display: block;
}

.smallProduct h3,
.smallProduct p,
.smallProduct .discounted {
  margin-bottom: 0.6rem;
}

.productlist article.onSale .discounted {
  display: flex;
  justify-content: space-between;
}

.productlist article .discounted {
  display: none;
}

.discounted p:last-child span {
  color: red;
}

.productlist article.onSale .price span {
  text-decoration: line-through;
  color: red;
}

.productlist article.soldOut::before {
  content: "SOLD OUT";
  position: absolute;
  background: var(--color);
  color: black;
  padding: 1rem;
}

.productlist article.soldOut img {
  opacity: 0.6;
}

/* =========================================================
   PRODUCT 
   ========================================================= */

.backLink {
  display: inline-block;
  margin: 2rem 5em 0em 12em;
  text-align: left;
  font-weight: 600;
}

#productContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  margin: 0em 5em 5em 5em;
  align-items: start;
}

figure {
  margin: 0;
}

.productImage {
  width: 80%;
  height: auto;
  display: block;
  margin: 3em 7em 0em 7em;
}

.productDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.productDetails div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.productDetails p {
  font-size: 1rem;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
}

.productName {
  font-size: 2rem;
}

.buyButton {
  border: 1px solid black;
  background-color: rgb(46, 46, 46);
  color: white;
  padding: 12px 40px;
  border-radius: 10px;
  width: fit-content;
  margin-top: 1.6rem;
  cursor: pointer;
  transition: all 0.25s ease;
  font-size: 15px;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
}

.buyButton:hover {
  background-color: transparent;
  color: black;
}
