/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainNav {
  background-color: #f1e9d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}

/* logo */
.mainNav .logo {
  display: flex;
  align-items: center;
  background-color: transparent !important;
}

.mainNav .logo img {
  height: 70px;
  width: auto;
  display: block;
  background-color: transparent !important;
}

/* navigation */
.mainNav nav {
  display: flex;
  gap: 4rem;
  align-items: center;
  background-color: transparent !important;
}

.mainNav a {
  text-align: left;
}

.mainNav nav a {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: transparent !important;
}

h2 {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.category main h2 {
  margin-left: 5rem;
  margin-top: 4rem;
}

.productlist main > h2 {
  margin-left: 1rem;
  margin-top: 2rem;
  grid-column: 1 / -1;
}

a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
}

h1 a {
  font-size: 2rem;
  text-align: left;
}

h3 {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 1.1rem;
}

.categoryList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1em 5em 5em 5em;
}

.categoryList a {
  background-color: #fbf9f3;
  border: 1px solid rgb(108, 108, 108);
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-weight: 600;
}

.productlist main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin: 1em 5em 5em 5em;
}

.productlist h2 {
  grid-column: 1 / -1;
}

.productlist article.onSale .discounted {
  display: flex;
  justify-content: space-between;
  color: white;
}

.productlist article .discounted {
  display: none;
}
.discounted p:last-child {
  background: red;
  padding: 0.5rem;
}

.smallProduct h3,
.smallProduct p,
.smallProduct .discounted {
  margin-bottom: 0.6rem;
}

.smallProduct {
  border-radius: 5px;
  padding: 1rem;
}

.smallProduct img {
  width: 100%;
  height: auto;
  display: block;
}

.productlist a {
  text-decoration: none;
  color: black;
}

.product a,
.productlist a {
  text-align: left;
}

#productContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  margin: 1em 5em 5em 5em;
  align-items: start;
}

figure {
  margin: 0;
}

.productImage {
  width: 90%;
  height: auto;
  display: block;
}

.productDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.productDetails p {
  font-size: 1rem;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
}

.productName {
  font-size: 2rem;
}

.buyButton {
  background-color: rgb(71, 71, 71);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  width: fit-content;
}
